{% extends 'base.html.twig' %}

{% block title %}Editar Estudio{% endblock %}

{% block pagename %}Editar{% endblock %}

{% block breadcrumb %}
    <li class=""><a href="{{path('estudio_index')}}">Estudios</a></li>
    <li class="">Editar</li>
    <li class="active">{{estudio.nombre}}</li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            {{ include('estudio/_form.html.twig', {'button_label': 'Guardar'}) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('estudio_index') }}">Volver</a>

    {{ include('estudio/_delete_form.html.twig') }}
    
{% endblock %}
