<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ProStudy{% endblock %}</title>

        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/datepicker3.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/css/theme-midnight.css')}}" id="theme-css">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!--navbar-->
        {% include "includes/navbar.html.twig" %}
        <!--END navbar-->
        
        <!--sidebar-->
        {% include "includes/sidebar.html.twig" %}
        <!--END sidebar-->

        <!--main-->
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('app_main') }}">
                            <em class="fa fa-home"></em>
                        </a>
                    </li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </div>
            <!--/.row-->
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block pagename %}{% endblock %}</h1>
                </div>
            </div>
            <!--/.row-->

            {% block body %}{% endblock %}
        </div>
        <!--END main-->

        <script src="{{asset('assets/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/chart.min.js')}}"></script>
        <script src="{{asset('assets/js/chart-data.js')}}"></script>
        <script src="{{asset('assets/js/easypiechart.js')}}"></script>
        <script src="{{asset('assets/js/easypiechart-data.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-datepicker.js')}}"></script>
        <script src="{{asset('assets/js/custom.js')}}"></script>
        <script>
            window.onload = function () {
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                    responsive: true,
                    scaleLineColor: "rgba(0,0,0,.2)",
                    scaleGridLineColor: "rgba(0,0,0,.05)",
                    scaleFontColor: "#c5c7cc"
                });
            };
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>